$red: #dc3d1d;
$black: #372522;
$gray: #e6e4e3;
$white: color(#fff a(80%));
$lightGray: color($black a(20%));
$darkGray: color($black a(60%));

$backgroundColor: $gray;
$textColor: $black;
$knockoutColor: $gray;
$panelColor: $white;
