@import '//cloud.typenetwork.com/projects/217/fontface.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400';

@import '../blocks/*.css';
@import '../mixins/**/*.css';

@import './color';
@import './layout';
@import './typography';
@import './zindex';

html {
  font-size: 62.5%; /* reset root em unit to 10px */
  text-size-adjust: none; /* keep font size consistent between orientations */
}

body {
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $textFamily;
}
