@import '//cloud.typenetwork.com/projects/217/fontface.css';

@import '../blocks/*.css';
@import '../mixins/**/*.css';

@import './color';
@import './layout';
@import './typography';
@import './zindex';

html { font-size: 62.5% } /* reset root em unit to 10px */

body {
  margin: 0;
  padding: $marginY $marginX;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $textFamily;
}
