@import '../browser/layout';
@import './header';
@import './footer';

.main {

  min-height: calc(100vh - $headerHeight - $footerHeight - $marginY);
  margin-bottom: $gutterY;

  &__content { box-sizing: border-box }

  /* Suppress extra vertical space after images caused by whitespace */

  img { line-height: 0 }

  /* Hide content while loading/measuring toggled sections */

  &--loading { opacity: 0 }

}

@media (--mid) {

  .main {
    overflow: hidden;
    margin-top: $marginY;
  }

}
