@import '../browser/layout';
@import '../browser/typography';
@import '../browser/mixins/clearfix';
@import '../browser/mixins/disable';
@import '../browser/mixins/resets';

@import './timeline';

.project {

  @mixin clearfix;

  lost-offset: -2/12;

  position: relative;
  margin-bottom: $marginY;

  &__summary,
  &__details {

    lost-column: 7/12;

    font-family: $textFamily;
    font-size: 1.2em;

    * { font-size: 1em }
    *:last-child { margin-bottom: 0 }

    ul { @mixin reset-list; }

  }

  &__title {

    @mixin no-select;

    margin: 0;
    font-weight: 300;
    font-size: 1.34em;
    line-height: 1.995; /* align with height of timeline dot */

    a { @mixin reset-link }

  }

  &__text { margin-bottom: 0 }

  &__details {

    position: relative;
    margin-top: $gutterY;
    box-sizing: border-box;

    * {
      position: relative;
      z-index: $zindexContent;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 200vw;
      top: 0;
      right: 0;
      bottom: 0;
      left: -50vw;
      background-color: $panelColor;
      z-index: $zindexBackground;
    }

    h1,
    h2,
    h3 {
      display: inline-block;
      border-bottom: 1px solid $gray;
      border-left: 1px solid $gray;
      padding: .5em;
      color: $red;
      font-weight: 300;
      font-size: 1em;
    }

    /* credits */

    p em:only-child {
      color: $darkGray;
    }

  }

  &__details,
  &__details_content {
    opacity: 1;
  }

  &__details--collapsed,
  &__details--collapsed .project__details_content {
    height: 0 !important;
    opacity: 1;
  }

  &__details_content { overflow: hidden }

  &__details_content > *:first-child { margin-top: $gutterY }
  &__details_content > *:last-child { margin-bottom: $gutterY }

  &__expand {

    @mixin reset-link;

    box-sizing: border-box;
    display: block;
    width: 3rem;
    height: 3rem;
    margin-top: 1em;
    border: 1px solid $lightGray;
    color: $darkGray;
    border-radius: 50%;

    span { @mixin hide-element }

    svg {
      pointer-events: none;
      width: 1.5rem;
      height: 1.5rem;
      padding: .7rem;
    }

    &:hover { color: $red }

    &--expanded { display: none }

  }

  &__preview {

    lost-column: 3/12;

    position: relative;
    overflow: hidden;
    z-index: $zindexContent;
    box-shadow: 0 0 4px color($black a(12%));
    transition: all .5s;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 64.29%;
    }

    > *,
    &_progress {
      position: absolute;
      top: 0;
      left: 0;
    }

    &_progress {
      @mixin hide-text;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: color($black a(12%));
      z-index: calc($zindexContent + 1);
    }

    video {
      width: 100%;
      opacity: 1;
      transition: .5s opacity;
    }

    &_progress + video { opacity: 0 }

  }

  &__preview--focused {
    box-shadow: 0 4px 4px color($black a(25%));
    transform: scale(1.08);
  }

  &__preview.closest { border: 1px solid #ff0000 }

}

.main--loaded .project {

  &__details,
  &__details_content { transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) } /* defer while measuring on DOM load */

}
