@import '../browser/layout';
@import '../browser/typography';
@import '../browser/mixins/clearfix';
@import '../browser/mixins/resets';

@import './timeline';

.project {

  @mixin clearfix;

  lost-offset: -2/12;

  position: relative;

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.9; /* align with height of timeline dot */
  }

  &__summary,
  &__details {

    lost-column: 7/12;

    font-family: $textFamily;
    font-size: 1.4em;

    * { font-size: 1em }
    *:last-child { margin-bottom: 0 }

    ul { @mixin reset-list; }

  }

  &__details {

    position: relative;
    margin-top: $gutterY;
    box-sizing: border-box;

    * {
      position: relative;
      z-index: $zindexContent;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 200vw;
      top: 0;
      right: 0;
      bottom: 0;
      left: -50vw;
      background-color: $panelColor;
      z-index: $zindexBackground;
    }

  }

  &__details,
  &__details_content {
    max-height: 0;
    opacity: .75;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &__details_content { overflow: hidden }

  &__details_content > *:first-child { margin-top: $gutterY }
  &__details_content > *:last-child { margin-bottom: $gutterY }

  &__details--open,
  &__details--open .project__details_content {
    opacity: 1;
    max-height: 20em;
  }

  &__expand {

    @mixin reset-link;

    box-sizing: border-box;
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid $lightGray;
    color: $darkGray;
    border-radius: 50%;

    span { @mixin hide-element }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin: .7rem;
    }

    &:hover { color: $red }

    &--expanded { display: none }

  }

  &__preview {

    lost-column: 3/12;

    position: relative;
    z-index: $zindexContent;
    box-shadow: 0 4px 4px color($black a(12%));

    > * { width: 100% }

  }

}
